<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769666532069-0b3rpl3ck8j6oakfdtcbjjns9h49dajq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769666532069-0b3rpl3ck8j6oakfdtcbjjns9h49dajq</string>
	<key>API_KEY</key>
	<string>AIzaSyB6R8JBdBHpkM5W9KM6ziTShvPYb5vD4Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>769666532069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.nagasaki.chanpon.LA-firebase</string>
	<key>PROJECT_ID</key>
	<string>la-fire-67656</string>
	<key>STORAGE_BUCKET</key>
	<string>la-fire-67656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769666532069:ios:b5d05fcd100a6fe8faca0c</string>
</dict>
</plist>